h1{
  font-family: 'oswald', sans-serif;
  font-size: 35px;
  position: flex;
  justify- content: center;
  margin: 5%;
}
p {
  font-family: 'oswald', sans-serif;
  font-size: 20px
}
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 10px dotted blue;
}
img {
  width: 400px;
  height: 350px;
  border: 10px solid white;
  object-fit: cover;
  justify-content: center;
}
